@import 'fonts';

$ember-newton-cradle-loader: (
  'cradle-size': 1em,
  'swing-distance': 1.5,
  'shadow-distance': 1,
  'animation-duration': .425s,
  'gradient-start': #385c78,
  'gradient-end': #db412c
);

@import 'ember-newton-cradle-loader';

body {
  background: #3d2f53;
  color: #f5f0e1;
  font-family: $f-primary;
}

h1{
  font-size: 5vw;
}

.pacifico {
  font-family: $f-pacifico;
}
