//////////////////////////////
// Variables
//////////////////////////////


// Ember Newton Cradle Loader Defaults
$ember-newton-cradle-loader-defaults: (
  'cradle-size': 1em,
  'swing-distance': 2.5,
  'shadow-distance': 1.5,
  'animation-duration': .425s,
  'gradient-start': #385c78,
  'gradient-end': #db412c
);

// Calculate gradient for cradles
$ember-newton-cradle-gradient-colors: () !default;
$ember-newton-cradle-gradient-colors: linear-gradient-map(
  linear-gradient-colors-list(
    map-get($ember-newton-cradle-loader-defaults, 'gradient-start'),
    map-get($ember-newton-cradle-loader-defaults, 'gradient-end')
  ),
  'cradle-bg'
);

// Merge cradle gradient variables to defaults
$ember-newton-cradle-loader: map-merge($ember-newton-cradle-loader-defaults, $ember-newton-cradle-gradient-colors);

// Empty config if user does not add their own
$ember-newton-cradle-loader: () !default;

// Merge defaults and user added config
$ember-newton-cradle-loader: map-merge($ember-newton-cradle-loader-defaults, $ember-newton-cradle-loader);
